.jobs{
    margin: 100px 0;
}

.jobs-title{
    font-size: 36px;
    text-align: center;
    margin: 0;
}
.jobs-info{
    text-align: center;
    margin: 20px 0;
    
}
.category-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.featured-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}