.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}

.nav p {
    margin: 0;
}
.title{
    font-size: 28px;
    font-weight: 700;

}
.nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.btn-applying {
    border: 0;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 6px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.btn-applying a{
    text-decoration: none;
    color: white;
    margin: 0;
}