.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.nav p {
    margin: 0;
}
.title{
    font-size: 28px;
    font-weight: 700;

}
.nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.btn-primary a{
    text-decoration: none;
    color: white;
    margin: 0;
}