.footer{
    padding: 80px 190px;
    background-color: #1A1919;;
    color: white;
}
.footer-info{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.footer p{
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.7);
}
.info-title{
    color: white !important; 
}
.footer-info-bottom{
    display: flex;
    justify-content: space-between;
}
.footer hr{
    margin: 40px 0;
    color: gray;
}
.footer-logo{
    display: flex;
}

.logo-img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
@media screen and (max-width:992px){
    .footer{
        padding: 80px 80px;
    }
    .footer-info{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media screen and (max-width:786px){
    
}
@media screen and (max-width:576px){
    .footer{
        padding: 80px 50px;
    }
    .footer-info{
        grid-template-columns: 1fr 1fr ;
    }
}