@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}

/* #root{
    padding: 0 190px;
} */

.btn-primary {
    border: 0;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 6px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.btn-view-details{
    border: 0;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 6px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
}
.change-layout{
    margin: 0 190px;
}
@media screen and (max-width:992px) {
    .change-layout{
        margin: 0 150px;
    }
    .btn-view-details{ 
        padding: 8px 12px;
        font-size: 16px;
    }
}
@media screen and (max-width:778px) {
    .change-layout{
        margin: 0 100px;
    }
    .btn-view-details{ 
        padding: 6px 10px;
        font-size: 15px;
    }
}

@media screen and (max-width:576px) {
    .change-layout{
        margin: 0 50px;
    }
    
}